@use "@styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

:root {
  @include variables.scheme(light);
  @include variables.text();
}

.dark {
  @include variables.scheme(dark);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body,
.main {
  margin: 0;
  width: 100%;
  height: 100%;

  font-family: karla, sans-serif;
  font-size: variables.$text-md;
  line-height: 1.5;
  color: var(--color-text);

  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

h1 {
  font-size: variables.$text-4xl;
}

h2 {
  font-size: variables.$text-3xl;
}

h3 {
  font-size: variables.$text-2xl;
}

h4 {
  font-size: variables.$text-xl;
}

h5 {
  font-size: variables.$text-lg;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

.scrollable {
  scroll-snap-align: start;
}

body {
  scrollbar-width: thin;
  /* Para Firefox */
  scrollbar-color: var(--color-primary) rgba(from var(--color-background) r g b / 95%);
  /* Color de la barra y del fondo */
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-text);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}

@keyframes levitate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}