---
import Navbar from "@components/Navbar.astro";
import "@styles/_globals.scss";

const lang = Astro.currentLocale || "en";
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>José Felix</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/theme-toggles@4.10.1/css/expand.min.css"
    />
  </head>
  <body>
    <Navbar />
    <main id="main" class="main">
      <slot />
    </main>
  </body>
</html>

<style lang="scss">
  .main {
    overflow-y: scroll;
    scroll-snap-type: y proximity;
  }
</style>
